node_modules
.env
.envrc
.local/
coverage/
playwright-report/
test-results/
.DS_Store
dist
dist-ssr
*.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# clerk configuration (can include secrets)
/.clerk/
